body{
  background-color: #C9B6E4;
}
hr{
  border-color: #A9A9A9;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 20%;
}
h1{
  color: #3E206D;
}
h3{
  color: #3E206D;
}

.circle{
  border-radius: 100%;
}
